---
import access from "../../assets/accessories.avif";
import { Picture } from "astro:assets";
import Section from "./Section.astro";
---

<Section title="Model X" subtitle="Programe una consulta virtual" color="black">
  <div slot="footer" class="space-x-2">
    <a
      href="#"
      class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors duration-500"
      >Pedido personalizado</a
    >
  </div>
  <Picture
    slot="background"
    src={access}
    format="avif"
    formats={["avif", "webp"]}
    fallbackFormat="jpg"
    alt="Model Y"
    class="h-full w-full object-cover object-center"
  />
</Section>
