---
import Section from "./Section.astro";
---

<Section
  title="Disfrute de tesla"
  color="white"
  subtitle="Programe una prueba de conducción hoy mismo"
>
  <a
    slot="footer"
    href="#"
    class="border-[2px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors duration-500"
    >Prueba de conducción</a
  >
  <video
    slot="background"
    autoplay
    muted
    loop
    src="/video.webm"
    class="object-cover object-center h-full w-full"></video>
</Section>
