---
import model_3 from "../../assets/models/model-3.avif";
import { Picture } from "astro:assets";
import Section from "./Section.astro";
---

<Section
  title="Model 3"
  subtitle="Concertar una prueba de conducción"
  color="black"
>
  <div slot="footer" class="space-x-2">
    <a
      href="#"
      class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors duration-500"
      >Explorar inventario</a
    >
    <a
      href="#"
      class="bg-white text-black text-sm rounded font-medium px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors duration-500"
      >Pedido personalizado</a
    >
  </div>
  <Picture
    slot="background"
    src={model_3}
    format="avif"
    formats={["avif", "webp"]}
    fallbackFormat="jpg"
    alt="Model Y"
    class="h-full w-full object-cover object-center"
  />
</Section>
