---
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ModelY from "../components/sections/ModelY.astro";
import Section from "../components/sections/Section.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <LandingHeader />
  <main
    class="relative w-full h-screen overflow-y-auto overflow-x-hidden snap-y snap-mandatory scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>

    <div class="snap-center">
      <ModelY />
    </div>
  </main>
</Layout>
