---
import Logo from "./Logo.astro";
---

<header
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40"
>
  <div class="flex basis-0 grow">
    <Logo />
  </div>

  <nav>
    <ul class="flex text-sm font-medium text-gray-700">
      <li class="px-4 py-2 inline-block">
        <a href="#">Model S</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Model 3</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Model X</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Model Y</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Powerwall</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Carga</a>
      </li>
    </ul>
  </nav>

  <nav class="flex grow basis-0 justify-end text-gray-700">
    <ul class="flex font-medium">
      <li class="px-4 py-2 inline-block">
        <a href="#">Soporte</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Tienda</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Cuenta</a>
      </li>
      <li class="px-4 py-2 inline-block">
        <a href="#">Menú</a>
      </li>
    </ul>
  </nav>
</header>
